# Python demo using jupyter

In [11]:
def add(x, y, z=None, flag=False):
    if flag == True:
        print("Flag was set to True")
    if z == None:
        return x + y
    else:
        return x + y + z

In [13]:
print(add(1,2,flag=True))
print(add(1,23,3))

Flag was set to True
3
27

In [4]:
type(None)

NoneType

In [5]:
type(1.9)

float

In [6]:
type(1.99)

float

In [8]:
type(234566.37920208546685555555555555555555555555555555555555642111111111111111111111111111111111111111111111111115)

float

In [13]:
type(add)

function

In [16]:
x = (1,'a',2)
type(x)

tuple

In [18]:
y = [1,'a',2]
type(y)

list

In [20]:
y.append(1)
print(y)

[1, 'a', 2, 1, 1]

In [21]:
y.pop()

1

In [22]:
print(y)

[1, 'a', 2, 1]

In [23]:
[1,2]+[2,None]

[1, 2, 2, None]

In [24]:
[9]*4

[9, 9, 9, 9]

In [25]:
6 in [1,23,4]

False

__DATE & TIME__

In [26]:
import datetime as dt
import time as tm

In [28]:
tm.time()

1647938065.099367

In [30]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2022, 3, 22, 14, 4, 46, 740294)

In [31]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second

(2022, 3, 22, 14, 4, 46)

In [32]:
delta = dt.timedelta(days = 100)
delta

datetime.timedelta(days=100)

In [33]:
today = dt.date.today()
today

datetime.date(2022, 3, 22)

In [35]:
today - delta

datetime.date(2021, 12, 12)

In [36]:
today > today-delta

True

__MAPS & OBJECTS__

In [37]:
class Person: #CamelCase
    department = 'School of Information'
    
    def set_name(self, new_name):
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [38]:
p1 = Person()
p1.set_name("Sagorika")
p1.set_location("Delhi")
print("Name: {}, Location: {}, Department: {}".format(p1.name, p1.location, p1.department))

Name: Sagorika, Location: Delhi, Department: School of Information

In [53]:
# map(function, iterables...)
store1 = [10.00, 11.00, 12.4, 2.34]
store2 = [9.00, 11.00, 12.34, 2.01]
cheapest = map(min, store1, store2)
cheapest

In [54]:
for item in cheapest:
    print(item)

9.0
11.0
12.34
2.01

In [57]:
for item in [10, 20, 39, 22]:
    print(item, end=' ')
# The end parameter is what to put after the text. It's default value is a "\n"

10 20 39 22

__LAMBDA & LIST COMPREHENSIONS__

In [58]:
func = lambda a,b,c : a+b+c
func(1,23,2)

26

In [60]:
my_list = [num for num in range (0, 10) if num%2 == 0]
my_list

[0, 2, 4, 6, 8]